* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 10px;
}

.first {
  padding: 20px;

  color: white;
  padding-left: 40px;
  background: url(../images/IT.svg) top right, url(../images/color.svg);
  background-repeat: no-repeat, repeat;
}

.second {
  border: 8px solid black;
  width: 400px;
  margin-top: 90px;
  margin-left: 560px;
}

.third {
  text-align: center;
  margin-top: 50px;
}

#berry {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 15px;
  padding: 8px;
}

#about {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 5px;
  padding: 25px;
  text-align: center;
}

#read {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  padding: 8px;
}

#explore {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  margin: 40px;
}

#p1 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 8px;
}
#p2 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#image {
  margin: 20px;
}
